In [ ]:
ssns=['778-62-8144','030 72 7381','70906649','16325404','757-85-7495','805 14 1893','003 06 8815']

In [1]:
import pandas as pd

In [2]:
df_snns=pd.read_csv('SSN.csv')

In [6]:
snns=[s.strip() for s in df_snns['Output'].values]

In [9]:
len(snns)

1001

In [10]:
df_dates=pd.read_csv('country_date_formats.csv')

In [15]:
import re
import random

In [17]:
dates=[]
fill_years_4_digits=[str(i) for i in range(1900,2026)]
fill_years_2_digits=[str(i) for i in range(19,41)]
fill_months=[str(i) for i in range(1,13)]
fill_days=[str(i) for i in range(1,29)]
for date_format in df_dates['Date Format'].values:
    date=date_format
    if re.search('yyyy',date_format,re.IGNORECASE):
        date=re.sub('yyyy',random.choice(fill_years_4_digits),date,flags=re.IGNORECASE)
    elif re.search('yy',date_format,re.IGNORECASE):
        date=re.sub('yy',random.choice(fill_years_2_digits),date,flags=re.IGNORECASE)
    
    if re.search('MM',date_format,re.IGNORECASE) or re.search('M',date_format,re.IGNORECASE):
        date=re.sub('yy|y',random.choice(fill_months),date,flags=re.IGNORECASE)
    if re.search('MM',date_format,re.IGNORECASE) or re.search('M',date_format,re.IGNORECASE):
        date=re.sub('MM|M',random.choice(fill_months),date,flags=re.IGNORECASE)
    if re.search('dd',date_format,re.IGNORECASE) or re.search('d',date_format,re.IGNORECASE):
        date=re.sub('dd|d',random.choice(fill_days),date,flags=re.IGNORECASE)
    dates.append(date)

In [19]:
df_patients=pd.read_csv('patients.csv')

In [22]:
df_patients.head()

,Id,BIRTHDATE,DEATHDATE,SSN,DRIVERS,PASSPORT,PREFIX,FIRST,LAST,SUFFIX,...,BIRTHPLACE,ADDRESS,CITY,STATE,COUNTY,ZIP,LAT,LON,HEALTHCARE_EXPENSES,HEALTHCARE_COVERAGE
0,1d604da9-9a81-4ba9-80c2-de3375d59b40,1989-05-25,NaN,999-76-6866,S99984236,X19277260X,Mr.,José Eduardo181,Gómez206,NaN,...,Marigot Saint Andrew Parish DM,427 Balistreri Way Unit 19,Chicopee,Massachusetts,Hampden County,1013.0,42.228354,-72.562951,271227.08,1334.88
1,034e9e3b-2def-4559-bb2a-7850888ae060,1983-11-14,NaN,999-73-5361,S99962402,X88275464X,Mr.,Milo271,Feil794,NaN,...,Danvers Massachusetts US,422 Farrell Path Unit 69,Somerville,Massachusetts,Middlesex County,2143.0,42.360697,-71.126531,793946.01,3204.49
2,10339b10-3cd1-4ac3-ac13-ec26728cb592,1992-06-02,NaN,999-27-3385,S99972682,X73754411X,Mr.,Jayson808,Fadel536,NaN,...,Springfield Massachusetts US,1056 Harris Lane Suite 70,Chicopee,Massachusetts,Hampden County,1020.0,42.181642,-72.608842,574111.90,2606.40
3,8d4c4326-e9de-4f45-9a4c-f8c36bff89ae,1978-05-27,NaN,999-85-4926,S99974448,X40915583X,Mrs.,Mariana775,Rutherford999,NaN,...,Yarmouth Massachusetts US,999 Kuhn Forge,Lowell,Massachusetts,Middlesex County,1851.0,42.636143,-71.343255,935630.30,8756.19
4,f5dcd418-09fe-4a2f-baa0-3da800bd8c3a,1996-10-18,NaN,999-60-7372,S99915787,X86772962X,Mr.,Gregorio366,Auer97,NaN,...,Patras Achaea GR,1050 Lindgren Extension Apt 38,Boston,Massachusetts,Suffolk County,2135.0,42.352434,-71.028610,598763.07,3772.20

In [39]:
address=df_patients['ADDRESS'].values
city=df_patients['CITY'].values
names=[]
for name in  df_patients['FIRST']+ " " +df_patients['LAST']:
    names.append(re.sub("\d+","",name))

In [36]:
zipcodes=df_patients['ZIP'].dropna(axis=0).astype(int).astype(str).values

In [40]:
df_patients.columns

Index(['Id', 'BIRTHDATE', 'DEATHDATE', 'SSN', 'DRIVERS', 'PASSPORT', 'PREFIX',
       'FIRST', 'LAST', 'SUFFIX', 'MAIDEN', 'MARITAL', 'RACE', 'ETHNICITY',
       'GENDER', 'BIRTHPLACE', 'ADDRESS', 'CITY', 'STATE', 'COUNTY', 'ZIP',
       'LAT', 'LON', 'HEALTHCARE_EXPENSES', 'HEALTHCARE_COVERAGE'],
      dtype='object')

In [42]:
# passports

url='https://raw.githubusercontent.com/vaasha/Data-Analysis_in-Examples/master/EDA_Passport_Numbers/data.csv'
passports=pd.read_csv(url)['PassportNumber'].dropna(axis=0).values

In [52]:
# email ids
file='email_domains.txt'
f=open(file,'r')
domains=f.read().split("\n")
names=df_patients['LAST'].dropna(axis=0).values
emails=[]
for name in names:
    emails.append(name+random.choice(domains))

In [65]:
# phone numbers
file='phone_no.txt'
f=open(file,'r')
phone_data=f.read().split("\n")

contacts=[]
for numbers in phone_data:
    contacts.append(numbers.split(",")[1].strip())

In [92]:
# medical records
import string
import random

N = 7
medical_records=[]
for i in range(1000):
    random_name= ''.join(random.choices(string.digits, k = N))
    medical_records.append(random_name)
    

medical_prefix=["MR","ID","CA","DS"]
medical_ids=[]

for i in medical_records:
    medical_ids.append("".join(random.choices(medical_prefix))+str(i))

In [90]:
# account numbers

account_numbers=[]
N = 10
for i in range(1000):
    random_name= ''.join(random.choices(string.digits, k = N))
    account_numbers.append(random_name)

In [111]:
# urls
file='urls.txt'
f=open(file,'r')
urls_data=f.read().split("\n")

urls=[]

for i in urls_data:
    urls.append(re.sub("'|,","",i))

In [113]:
# IP address
df_ips=pd.read_csv('ipv4.csv')
df_ips.columns=['ip1','ip2','states']
ip_address=df_ips['ip1'].values